/*字体声明*/
@font-face {
    font-family: 'zhanku';
    font-display: swap;
    src: url('../../../static/fonts/header-ititle/webfont.eot'); /* IE9 */
    src: url('../../../static/fonts/header-ititle/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../static/fonts/header-ititle/webfont.woff2') format('woff2'),
    url('../../../static/fonts/header-ititle/webfont.woff') format('woff'), /* chrome、firefox */
    url('../../../static/fonts/header-ititle/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../../static/fonts/header-ititle/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
/*字体定义*/
.zhanku {
    font-family: "zhanku" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
